.left-space {
    margin-left: 10%;
}

// .header-item {
//     height: 100px !important;
// }

// .navbar-brand-box-horizontal {
//     padding-top: 10px;
// }
.active-link {
    text-decoration: underline !important;
    font-weight: bold;
    color: white !important;
  }
